{% extends 'base_auth.html' %}
{% block pageTitle %}
Login Page
{% endblock %}

{% block navTitle %}
Movie Recommendation Model
{% endblock %}

{% block content %}
<div class="card container mt-3">
    <div class="card-body">
        <h3 class="card-title">Log In</h3>
        <form action="/login" method="post">
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email address</label>
                <input type="text" class="form-control" id="inputEmail" name="email" required>
            </div>
            <label for="inputPassword" class="form-label">Password</label>
            <div class="input-group mb-3">
                <input type="password" class="form-control" id="inputPassword" name="password" required>
                <button class="btn btn-outline-secondary" type="button" id="show-hide-pswd">Show</button>
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
        <div class="mt-3">
            <p>Do not have an account? <a href="/register">Register Now</a></p>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
{% endblock %}