{% extends 'base_auth.html' %}

{% block pageTitle %}
Register Page
{% endblock %}

{% block navTitle %}
User Registration
{% endblock %}

{% block navButtons %}
<a class="btn btn-outline-success text-nowrap me-2" href="/" role="button">Dashboard</a>
{% endblock %}

{% block content %}
<div class="card container mt-3">
    <div class="card-body">
        <h3 class="card-title">Register</h3>
        <form id="registrationForm" method="post" action="/register">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <label for="password" class="form-label">Password</label>
            <div class="input-group mb-3">
                <input type="password" class="form-control" id="password" name="password" required>
                <button class="btn btn-outline-secondary" type="button" id="show-hide-pswd">Show</button>
            </div>
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <div class="input-group mb-3">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                <button class="btn btn-outline-secondary" type="button" id="show-hide-cpswd">Show</button>
            </div>
            <div class="mb-3 form-check" style="max-width: 700px;">
                <input type="checkbox" class="form-check-input" id="termsCheckbox" name="termsCheckbox">
                <!-- <label class="form-check-label" for="termsCheckbox">Check me out</label> -->
                <label class="form-check-label" for="termsCheckbox">Terms & Coditions</label>
                <div id="emailHelp" class="form-text">I allow this website to use my above information for analysis purposes only and my data will remain private.</div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/register.js') }}"></script>
{% endblock %}